.Card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3.5rem;
}
.Controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4.5rem;
  color: var(--text-color);
}
.App.dark-theme .Controls-input > input::placeholder {
  color: var(--text-color);
}
.Controls-input {
  background-color: var(--elements-color);
  color: var(--text-color);
  border: none;
  width: 35%;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}
.Controls-input > input {
  height: 100%;
  width: 100%;
  display: block;
  padding: 15px;
  border: none;
  font-size: 1.05rem;
  outline: none;
  background-color: transparent;
  color: var(--text-color);
}
.Controls-input > i {
  font-size: 1.05rem;
  margin: 0 15px;
}
.Controls-dropdown-group {
  display: flex;
}

@media (max-width: 1200px) {
  .Card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 991px) {
  .Card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .Card-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .Controls {
    display: block;
    margin-bottom: 40px;
  }
  .Controls-input {
    width: 100%;
    margin-bottom: 20px;
  }
}
