.Country {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.Country-img {
  width: 40%;
}
.Country-img img {
  width: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
}
.Country-body {
  padding: 30px;
  width: 55%;
}
.Country-title {
  margin-bottom: 30px;
  font-size: 2rem;
}
.Country-details {
  display: flex;
  justify-content: space-between;
}
.Country-details > div:nth-of-type(1) {
  margin-right: 50px;
}
.Country-text {
  margin: 10px 0;
  min-width: 200px;
}
.Country-text b {
  font-weight: 500;
}
.Country-borders {
  margin-top: 40px;
  display: flex;
}
.Country-borders > div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.Country-borders > b {
  margin-right: 10px;
  min-width: 150px;
  margin-top: 7px;
  font-weight: 500;
}
.Country-borders a,
.Back {
  text-decoration: none;
  margin: 0 10px;
  margin-bottom: 10px;
  color: var(--text-color);
  background-color: var(--elements-color);
  padding: 12px 18px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.2);
}
.Back:hover,
.Country-borders a:hover {
  background-color: var(--secondary-color);
}
.Back {
  margin: 0;
  margin-bottom: 20px;
  display: inline-block;
}
.Back > i {
  margin-right: 5px;
}
@media (max-width: 991px) {
  .Country {
    display: block;
  }
  .Country-img {
    width: 100%;
  }
  .Country-details {
    flex-direction: column;
  }
  .Country-details > div:nth-of-type(1) {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .Country-body {
    width: 100%;
  }
  .Country-borders {
    flex-direction: column;
  }
  .Country-borders > div {
    margin-top: 20px;
  }
  .Country-borders a {
    margin-left: 0;
  }
}
