.Dropdown {
  margin-right: 20px;
  position: relative;
}
.Dropdown > button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 1.05rem;
  margin-bottom: 10px;
  border: none;
  cursor: pointer;
  color: var(--text-color);
  background-color: var(--elements-color);
  padding: 12px 18px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.2);
}
.Dropdown > button > i {
  margin-left: 20px;
}
.Dropdown-items {
  width: 100%;
  position: absolute;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.5);
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
}
.Dropdown-items.open {
  opacity: 1;
  pointer-events: auto;
}
.Dropdown-item {
  width: 100%;
}

.Dropdown-item:hover > label,
.Dropdown-item > input:checked + label {
  background-color: var(--secondary-color);
}
.Dropdown-item > label {
  width: 100%;
  border: none;
  cursor: pointer;
  color: var(--text-color);
  background-color: var(--elements-color);
  padding: 12px 18px;
  display: inline-block;
}
.Dropdown-item > input {
  display: none;
}
